{% load static %}

{% block news %}
<!-- NEWS START -->
<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2><a href="#">TITLE HEADING</a></h2>
            <h5>Title description, Dec 7, 2222</h5>
            <div class="fakeimg" style="height:200px;">Image</div>
            <p>Some text..</p>
        </div>
        <div class="card">
            <h2><a href="#">TITLE HEADING</a></h2>
            <h5>Title description, Sep 2, 2222</h5>
            <div class="fakeimg" style="height:200px;">Image</div>
            <p>Some text..</p>
        </div>
        <div class="card">
            <h2><a href="#">TITLE HEADING</a></h2>
            <h5>Title description, Sep 2, 2222</h5>
            <div class="fakeimg" style="height:200px;">Image</div>
            <p>Some text..</p>
        </div>
        <div class="card">
            <h2><a href="#">TITLE HEADING</a></h2>
            <h5>Title description, Sep 2, 2222</h5>
            <div class="fakeimg" style="height:200px;">Image</div>
            <p>Some text..</p>
        </div>
        <div class="card">
            <h2><a href="#">TITLE HEADING</a></h2>
            <h5>Title description, Sep 2, 2222</h5>
            <div class="fakeimg" style="height:200px;">Image</div>
            <p>Some text..</p>
        </div>
    </div>
    <div class="rightcolumn">
        <div class="card">
            <h2>Text</h2>
            <div class="fakeimg" style="height:100px;">Image</div>
            <p>Text..</p>
        </div>
        <div class="card">
            <h3>Text</h3>
            <div class="fakeimg">Text</div>
            <br>
            <div class="fakeimg">Text</div>
            <br>
            <div class="fakeimg">Text</div>
        </div>
    </div>
</div>

{% endblock news %}