{% load static %}

{% block news %}
<!-- NEWS START -->
<div class="row">
    <div class="column">
        <div class="tit">
            <img src="static/images/team/team-1.png" alt="Avatar" style="width:90px">
            <p><a href="#">Chris Fox.</a> CEO at Mighty Schools.</p>
            <p>HTML CSS saved us from a web disaster.</p>
        </div>
        <div class="tit">
            <img src="static/images/team/team-1.png" alt="Avatar" style="width:90px">
            <p><a href="#">Rebecca Flex.</a> CEO at Company.</p>
            <p>No one is better than HTML CSS.</p>
        </div>
         <div class="tit">
            <img src="static/images/team/team-1.png" alt="Avatar" style="width:90px">
            <p><a href="#">Rebecca Flex.</a> CEO at Company.</p>
            <p>No one is better than HTML CSS.</p>
        </div>
         <div class="tit">
            <img src="static/images/team/team-1.png" alt="Avatar" style="width:90px">
            <p><a href="#">Rebecca Flex.</a> CEO at Company.</p>
            <p>No one is better than HTML CSS.</p>
        </div>
         <div class="tit">
            <img src="static/images/team/team-1.png" alt="Avatar" style="width:90px">
            <p><a href="#">Rebecca Flex.</a> CEO at Company.</p>
            <p>No one is better than HTML CSS.</p>
        </div>
    </div>

     <div class="filter">

    </div>
</div>

{% endblock news %}